<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) count
		  FROM TB_ORDER
		 WHERE STATUS = 'Y' 
	
	</entry>

	<entry key="selectList1">
		SELECT RNUM, TB1.*
		  FROM (
		        SELECT ROWNUM RNUM, TB.*
		          FROM (
		                SELECT TB_ORDER.ORD_NO 주문번호
		                
		                     , MEMBER.USER_NAME 유저이름
		                     , TB_ORDER.DEL_ADD 배송지
		                     , TB_ORDER.PHONE 휴대전화
		                     , TB_ORDER.EMAIL 이메일
		                     
		                     , PAYMENT.TOTAL_PRICE 최종결제금액
		                     
		                     , TB_ORDER.PAYMENT 결제여부
		                     , TB_ORDER.DELIVERY 배송여부
		                     
		                     , TB_ORDER.REQUIRE 배송시요청사항
		                  FROM TB_ORDER      
                     LEFT JOIN PAYMENT ON ( TB_ORDER.ORD_NO = PAYMENT.ORD_NO)
                     LEFT JOIN MEMBER  ON ( TB_ORDER.USER_NO = MEMBER.USER_NO)
       
		                 WHERE TB_ORDER.STATUS = 'Y'
	</entry>
		
	<entry key="selectList2">
		               ) TB
	       	 ) TB1
	   WHERE RNUM BETWEEN ? AND ?    
	</entry>
	
	<entry key="searchList">
		SELECT ORD.*
		  FROM (
		        SELECT TB_ORDER.ORD_NO 주문번호
		             
		             , MEMBER.USER_NO 유저번호
		             , MEMBER.USER_NAME 유저이름
		             
		             , TB_ORDER.DEL_ADD 배송지
		             , TB_ORDER.PHONE 휴대전화
		             , TB_ORDER.EMAIL 이메일
		             
		             , PAYMENT.DISCOUNT 사용적립금
		             , PAYMENT.TOTAL_PRICE 최종결제금액
		             
		             , TB_ORDER.PAYMENT 결제여부
		             , TB_ORDER.DELIVERY 배송여부
		       
		             , TB_ORDER.REQUIRE 배송시요청사항
		             
		          FROM TB_ORDER 
		     LEFT JOIN PAYMENT ON ( TB_ORDER.ORD_NO = PAYMENT.ORD_NO)
		     LEFT JOIN MEMBER  ON ( TB_ORDER.USER_NO = MEMBER.USER_NO)
		         WHERE TB_ORDER.STATUS = 'Y'
		        ) ORD
		    WHERE 결제여부 = 'Y'
		      AND 배송여부 = 'N'
		
	</entry>
	
	<entry key ="selectOrder">
			SELECT T.*, P.*, M.*, P.DELIVERY 배송비
			  FROM TB_ORDER T
			  LEFT JOIN PAYMENT P ON (T.USER_NO =P.ORD_NO)
			  LEFT JOIN MEMBER M ON (T.USER_NO = M.USER_NO)
			 WHERE T.ORD_NO = ?
	
	</entry>
	
	<entry key ="selectOrdPro">
		 SELECT *
		   FROM ORD_PRO
		   JOIN PRODUCT ON (ORD_PRO.PRO_NO = PRODUCT.PRO_NO)
		  WHERE ORD_NO = ?
	</entry>
	

</properties>