<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectNoticeListCount">
		SELECT
			   COUNT(*) count
		  FROM BOARD
		 WHERE BOARD_TYPE = 1
	</entry>
	<entry key="selectNoticeList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
		                       BOARD_NO,
		                       BOARD_TITLE,
		                       USER_ID,
		                       TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE",
		                       COUNT,
		                       B.STATUS
		                  FROM BOARD B
		                  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		                 WHERE BOARD_TYPE = 1
		                 ORDER
		                    BY BOARD_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="selectListCount">
		SELECT
			   COUNT(*) count
		  FROM BOARD
		 WHERE BOARD_TYPE = 2
	</entry>
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
		                       BOARD_NO,
		                       BOARD_TITLE,
		                       USER_ID,
		                       TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE",
		                       COUNT,
		                       B.STATUS
		                  FROM BOARD B
		                  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		                 WHERE BOARD_TYPE = 2
		                 ORDER
		                    BY BOARD_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectReplyListCount">
		SELECT
			   COUNT(*) count
		  FROM REPLY
		 WHERE BOARD_TYPE IN (1, 2)
	</entry>
	<entry key="selectReplyList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
						       REPLY_NO
						     , BOARD_NO
						     , REPLY_CONTENT
						     , USER_ID
						     , TO_CHAR(R.CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE"
						     , R.STATUS
						  FROM REPLY R
						  JOIN MEMBER ON (REPLY_WRITER = USER_NO)
						 WHERE R.BOARD_TYPE IN (1, 2)
						 ORDER
						    BY REPLY_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectSearchListCount">
		SELECT COUNT(*) COUNT
  		  FROM BOARD
  		 WHERE BOARD_TYPE IN (1, 2)
	</entry>
	<entry key="selectSearchReplyListCount">
		SELECT COUNT(*) COUNT
  		  FROM REPLY
  		 WHERE BOARD_TYPE IN(1, 2)
	</entry>
	<entry key="searchList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
		                       BOARD_NO,
		                       BOARD_TITLE,
		                       USER_ID,
		                       TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE",
		                       COUNT,
		                       B.STATUS
		                  FROM BOARD B
		                  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		                 WHERE BOARD_TYPE = 2
	</entry>
	<entry key="searchReplyList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
						       REPLY_NO
						     , BOARD_NO
						     , REPLY_CONTENT
						     , USER_ID
						     , TO_CHAR(R.CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE"
						     , R.STATUS
						  FROM REPLY R
						  JOIN MEMBER ON (REPLY_WRITER = USER_NO)
						  JOIN BOARD USING (BOARD_NO)
						 WHERE R.BOARD_TYPE IN (1, 2)
	</entry>
	
	<entry key="updateStatus">
		UPDATE
			   BOARD
		   SET STATUS = ?
		 WHERE BOARD_NO = ?
	</entry>
	<entry key="updateStatusR">
		UPDATE
			   REPLY
		   SET STATUS = ?
		 WHERE REPLY_NO = ?
	</entry>
	
	<entry key="deleteBoard">
		DELETE
		  FROM BOARD
		 WHERE BOARD_NO = ?
	</entry>
	<entry key="deleteReply">
		DELETE
		  FROM REPLY
		 WHERE REPLY_NO = ?
	</entry>
</properties>