<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT
			   COUNT(*) count
		  FROM BOARD
		 WHERE BOARD_TYPE = 2
		   AND STATUS = 'Y'
	</entry>
	<entry key="selectNoticeCount">
		SELECT
			   COUNT(*) count
		  FROM BOARD
		 WHERE BOARD_TYPE = 1
		   AND STATUS = 'Y'
	</entry>
	<entry key="selectNoticeList">
		SELECT
			   BOARD_NO,
		       BOARD_TITLE,
		       TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE",
		       COUNT
		  FROM BOARD B
		  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		 WHERE BOARD_TYPE = 1
		   AND B.STATUS = 'Y'
		 ORDER
		 	BY BOARD_NO DESC
	</entry>
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
		                       BOARD_NO,
		                       BOARD_TITLE,
		                       USER_ID,
		                       TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE",
		                       COUNT
		                  FROM BOARD B
		                  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		                 WHERE BOARD_TYPE = 2
		                   AND B.STATUS = 'Y'
		                 ORDER
		                    BY BOARD_NO DESC
		               ) A
		       )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertBoard">
		INSERT
		  INTO BOARD
		  (
		    BOARD_NO
		  , BOARD_TYPE
		  , BOARD_TITLE
		  , BOARD_CONTENT
		  , BOARD_WRITER
		  )
		 VALUES
		  (
		    SEQ_BOARDNO.NEXTVAL
		  , 2
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="increaseCount">
		UPDATE
		       BOARD
		   SET COUNT = COUNT+1
		 WHERE BOARD_NO = ?
	</entry>
	<entry key="selectBoard">
		SELECT 
			   BOARD_TITLE
		     , BOARD_TYPE
		     , USER_ID
		     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI') create_date
		     , COUNT
		     , BOARD_CONTENT
		  FROM BOARD
		  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		 WHERE BOARD_NO = ?
	</entry>
	
</properties>