<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectList">
		SELECT *
		  FROM (
		  		SELCT ROWNUM "RNUM", A.*
		  		 FROM (
		  		 		SELECT 
		  		 			   CONSULT_NO
		  		 	  		 , CONSULT_TITLE
		  		 	  		 , TO_CHAR(ENROLL_DATE, 'YYYY/MM/DD') "ENROLL_DATE"
		  		 	  		 , CONSULT_CATEGORY
		  		 	  		 , ANSWER_STATUS
		  		 	      FROM CONSULT C
		  		 	      JOIN MEMBER M ON (M.USER_NO = C.USER_NO)
		  		 	     WHERE C.USER_NO = ?
		  		 	     	 , C.STATUS = 'Y'
		  		 	     ORDER 
		  		 	        BY COUNSULT_NO DESC
		  		 	   ) A
		  		)
		 WHERE RNUM BETWEEN ? AND ?
		  		
	</entry>

	<entry key="selectListCount">
		SELECT COUNT(*) "COUNT"
		  FROM CONSULT
		 WHERE STATUS = 'Y'
	</entry>
	
	
	<entry key="selectAllConsult">
		SELECT 
			   CONSULT_NO
			 , USER_Id
		     , CONSULT_TITLE
		     , CONSULT_CONTENT
		     , C.ENROLL_DATE
		     , C.MODIFY_DATE
		     , CONSULT_ANSWER
		     , ANSWER_DATE
		     , C.STATUS
		     , ORIGIN_NAME
		     , FILE_PATH
		     , CONSULT_CATEGORY
		     , RESPONDENTS
		     , ANSWER_STATUS
		  FROM CONSULT C
		  JOIN MEMBER M ON (M.USER_NO = C.USER_NO)
		 WHERE M.USER_NO = ?
		   AND C.STATUS = 'Y'
		 ORDER
		    BY CONSULT_NO DESC
	</entry>

	<entry key="insertConsult">
		INSERT
		  INTO CONSULT
		  (
		  	CONSULT_NO
		  , USER_NO
		  , CONSULT_TITLE
		  , CONSULT_CONTENT
		  , ENROLL_DATE
		  , STATUS
		  , ORIGIN_NAME
		  , FILE_PATH
		  , CONSULT_CATEGORY
		  , ANSWER_STATUS
		  )
		  VALUES
		  (
		  	SEQ_CONSULTNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , SYSDATE
		  , 'Y'
		  , ?
		  , ?
		  , ?
		  , '미답변'
		  )
	</entry>

	<entry key="selectConsult">
		SELECT 
		       CONSULT_NO
			 , M.USER_NO
		     , CONSULT_TITLE
		     , CONSULT_CONTENT
		     , C.ENROLL_DATE
		     , C.MODIFY_DATE
		     , CONSULT_ANSWER
		     , ANSWER_DATE
		     , C.STATUS
		     , ORIGIN_NAME
		     , FILE_PATH
		     , CONSULT_CATEGORY
		     , RESPONDENTS
		     , ANSWER_STATUS
		  FROM CONSULT C
		  JOIN MEMBER M ON (M.USER_NO = C.USER_NO)
		 WHERE C.CONSULT_NO = ?
		   AND C.STATUS = 'Y'
	</entry>
	
	<entry key="updateConsult">
		UPDATE 
			   CONSULT
		   SET CONSULT_TITLE = ?
		     , CONSULT_CATEGORY = ?
		     , CONSULT_CONTENT = ?
		     , ORIGIN_NAME = ?
		     , FILE_PATH = ?
		     , MODIFY_DATE = SYSDATE
		 WHERE CONSULT_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="deleteConsult">
		UPDATE 
			   CONSULT
		   SET STATUS = 'N'
		 WHERE CONSULT_NO = ?
	</entry>
	
	<entry key="consultAnswer">
		UPDATE 
		       CONSULT 
		   SET CONSULT_ANSWER = ?
		     , ANSWER_DATE = SYSDATE
		     , RESPONDENTS = 1
		     , ANSWER_STATUS = '답변완료'
		 WHERE CONSULT_NO = ?
	</entry>
	
	
	
	







</properties>