<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectFAQList">
	SELECT
		  CONTACT_NO
		, CONTACT_TITLE 
		, CONTACT_ANSWER 
		, CATEGORY 
		, FAQ_WRITER
		, STATUS
		FROM FAQ
		WHERE STATUS = 'Y'
</entry>
</properties>
