<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT
			  USER_NO
			, USER_ID
			, USER_PWD
			, USER_NAME
			, EMAIL
			, PHONE
			, POST_CODE
			, ADDRESS
			, DETAILED_ADDRESS
			, ENROLL_DATE
			, MODIFY_DATE
			, STATUS
			, POINT
		FROM MEMBER	
		WHERE USER_ID = ?
		AND USER_PWD = ?
		AND STATUS = 'Y'
	</entry>
	
	<entry key="insertMember">
		INSERT
			INTO MEMBER
			(
				  USER_NO
				, USER_ID
				, USER_PWD
				, USER_NAME
				, EMAIL
				, PHONE
				, POST_CODE
				, ADDRESS
				, DETAILED_ADDRESS 	
			)
			VALUES
			(
				 SEQ_MEMBERNO.NEXTVAL
				, ?
				, ?
				, ?
				, ?
				, ?
				, ?
				, ?
				, ?	 
			)
	</entry>
	
	<entry key="selectMemberList">
	SELECT
		USER_NO ,
		USER_ID ,
		USER_NAME ,
		EMAIL ,
		PHONE ,
		POST_CODE,
		ADDRESS ,
		DETAILED_ADDRESS,
		POINT
	FROM MEMBER
	WHERE STATUS = 'Y'
	</entry>
	
	<entry key="idcheck">
	SELECT
			COUNT(*) "COUNT"
		FROM MEMBER
		WHERE USER_ID = ?
		
	</entry>
	
	<entry key="admindeleteMember">
	UPDATE MEMBER
	  SET STATUS = 'N'
	 WHERE USER_NO = ?
</entry>


<entry key="updateMember">
   UPDATE MEMBER
      SET USER_NAME = ? 
          , EMAIL = ?
          , PHONE = ?
          , POST_CODE = ?
          , ADDRESS = ?
          , DETAILED_ADDRESS = ?
    WHERE USER_ID = ? 
   </entry>
   
   <entry key="updatePwdMember">
      UPDATE MEMBER
         SET USER_PWD = ?
           , MODIFY_DATE = SYSDATE
      	WHERE USER_ID = ?
         AND USER_PWD =?
   </entry>
   
   <entry key="memberPwdCheck">
      SELECT COUNT(*) "COUNT"
        FROM MEMBER
       WHERE USER_ID = ? 
         AND USER_PWD = ?
         AND STATUS = 'Y'
   </entry>
   
   <entry key="selectLoginMember">
   		SELECT USER_NO
   		     , USER_ID
   		     , USER_PWD
   		     , USER_NAME
   		     , EMAIL
   		     , PHONE
   		     , POST_CODE
   		     , ADDRESS
   		     , DETAILED_ADDRESS
   		     , ENROLL_DATE
   		     , MODIFY_DATE
   		     , STATUS
   		     , POINT
   		  FROM MEMBER
   		 WHERE USER_ID = ?
   		   AND STATUS = 'Y'
   </entry>
   
   <entry key="deleteMember">
   		UPDATE MEMBER
   		  SET STATUS = 'N'
   		    , MODIFY_DATE = SYSDATE
   		WHERE USER_ID = ?
   		  AND USER_PWD = ?
   </entry>
   	<entry key="selectPointList">
	SELECT
		P.USER_NO ,
		POINT_DATE ,
		POINT_USE ,
		POINT_PRICE
	FROM POINT P
    JOIN MEMBER M ON (P.USER_NO = M.USER_NO)
	WHERE P.USER_NO = ?
	</entry>
	

</properties>