<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="insertCart">
		INSERT INTO TB_CART values(
			SEQ_CARTNO.NEXTVAL
			, ?
			, ?
			, ?
		)

	</entry>

	<entry key="selectOneCartNoByUserNo">
		SELECT
			CART_NO
		FROM
			TB_CART
		WHERE
			USER_NO = ?
		AND
			PRO_NO = ?
	</entry>

	<entry key="updateCart">
		UPDATE TB_CART
		SET
			CART_QTY = CART_QTY + ?
		WHERE
			CART_NO	= ?
	</entry>

	<entry key="selectCartList">
		SELECT
			C.CART_NO
			,C.PRO_NO
			,C.CART_QTY
			,P.PRO_NAME
			,P.PRICE
			,P.SAVE
			,P.THUMB_IMG
		FROM
			TB_CART c JOIN product p
			ON c.pro_no = p.pro_no
		WHERE
			USER_NO = ?
	</entry>

	<entry key="deleteCart">
		DELETE FROM TB_CART WHERE CART_NO = ?
	</entry>

	<entry key="insertPick">
		INSERT INTO "LIKE" VALUES(
			?
			,?
			,SYSDATE
		)
	</entry>

	<entry key="selectOnePick">
		SELECT
			COUNT(*)
		FROM
			"LIKE"
		WHERE
			PRO_NO = ?
		AND
			USER_NO = ?
	</entry>

	<entry key="deletePick">
		DELETE FROM "LIKE"
		WHERE
			PRO_NO = ?
		AND
			USER_NO = ?

	</entry>

	<entry key="deleteAllCart">
		DELTE FROM TB_CART
		WHERE
			USER_NO = ?
	</entry>
	
 <entry key="insertOrderList">
		INSERT
			INTO TB_ORDER
			   (
				  
			    USER_NO
			   , DEL_ADD
			   , PHONE
			   , EMAIL
			   , REQUIRE	
			   )
			VALUES
			     (
			      <!--   SEQ_ORDERNO-->
			     , ?
			     , ?
			     , ?
			     , ?
			     , ?
			     )			
	</entry>-->
	
	<!-- 찜하기조회(정은) -->
	<entry key="selectLike">
		SELECT L.PRO_NO
		     , L.USER_NO
		     , L.LIKE_DATE
		     
		     , P.PRO_NAME
		     , P.PRICE
		     , P.TUMB_IMG
		  FROM LIKE L
		  JOIN PRODUCT P ON (L.PRO_NO = P.PRO_NO)
		  JOIN MEMBER M ON (L.USER_NO = M.USER_NO)
		 WHERE USER_NO = ?
	</entry>
</properties>