<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key = "detailDry">
		SELECT
       PRO_NO
       , PRO_NAME
       , PRICE
       , THUMB_IMG
       FROM PRODUCT
       WHERE PRO_NO=?
	
	</entry>
	
		<entry key = "detailOven">
		SELECT
       PRO_NO
       , PRO_NAME
       , PRICE
       , THUMB_IMG
       FROM PRODUCT
       WHERE PRO_NO=?
	
	</entry>
	
		<entry key = "detailParty">
		SELECT
       PRO_NO
       , PRO_NAME
       , PRICE
       , THUMB_IMG
       FROM PRODUCT
       WHERE PRO_NO=?
	
	</entry>


</properties>