<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectFoodList">
		SELECT 
				PRO_NO
			  ,	PRO_NAME
		      , PRICE
			  , THUMB_IMG
		     FROM PRODUCT
	 WHERE CATEGORY = '주식'	     
	
	</entry>
	
	<entry key="selectDetail">
			SELECT
				PRO_NO
			  ,	PRO_NAME
		      , PRICE
			  , THUMB_IMG
		     FROM PRODUCT
		     WHERE PRO_NO = ?
	</entry>
	
	<entry key="selectDryList">
		SELECT	
				PRO_NO		
			  ,	PRO_NAME
		      , PRICE
			  , THUMB_IMG
			  FROM PRODUCT
	 WHERE CATEGORY = '건조간식'	     
	
	</entry>
	
	<entry key="selectOvenList">
		SELECT 
				PRO_NO
			  ,	PRO_NAME
		      , PRICE
			  , THUMB_IMG
		     FROM PRODUCT
	 WHERE CATEGORY = '오븐간식'	     
	
	</entry>
	
	<entry key="selectPartyList">
	SELECT 
				PRO_NO
			  ,	PRO_NAME
		      , PRICE
			  , THUMB_IMG
		     FROM PRODUCT
	 WHERE CATEGORY = 'PARTY'	     
	
	</entry>
	
	
	<entry key="detailProduct">
		SELECT 
			   PRO_NO
	       
	       , FILE_PATH
	       , FILE_LEVEL
	        
			FROM PRO_ATT
			WHERE PRO_NO=?
	</entry>

	<entry key = "productDetailFood">
		SELECT
       PRO_NO
       , PRO_NAME
       , PRICE
       , THUMB_IMG
       FROM PRODUCT
       WHERE PRO_NO=?
	
	</entry>
	
</properties>
