<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectFoodList">
		SELECT 
				PRO_NO
			  ,	PRO_NAME
		      , PRICE
			  , THUMB_IMG
		     FROM PRODUCT
	 WHERE CATEGORY = '주식'	     
	
	</entry>
	
	<entry key="selectDryList">
		SELECT	
				PRO_NO		
			  ,	PRO_NAME
		      , PRICE
			  , THUMB_IMG
			  FROM PRODUCT
	 WHERE CATEGORY = '건조간식'	     
	
	</entry>
	
	<entry key="selectOvenList">
		SELECT 
				PRO_NO
			  ,	PRO_NAME
		      , PRICE
			  , THUMB_IMG
		     FROM PRODUCT
	 WHERE CATEGORY = '오븐간식'	     
	
	</entry>
	
	<entry key="selectPartyList">
	SELECT 
				PRO_NO
			  ,	PRO_NAME
		      , PRICE
			  , THUMB_IMG
		     FROM PRODUCT
	 WHERE CATEGORY = 'PARTY'	     
	
	</entry>
	
	
	<entry key="detailProduct">
		SELECT PRO_NO
	       , PRO_NAME
	       , PRICE
	       , FILE_PATH
	       , FILE_LEVEL
	         FROM PRODUCT P JOIN PRO_ATT A
	        ON P.PRO_NO=A.PRO_NO
	
	</entry>

	
	
</properties>
